body { font:8pt 'Verdana'; color:#502e24; background:#79A60D; }
td { vertical-align:top; }
a { color:#502e24; text-decoration:underline; }
a:hover { color:#8e4733; text-decoration:none; }

.wrapper { min-width:1129px; background:url('../images/bg.jpg') center top no-repeat; }
.wrapper-inner { width:1129px; margin:0 auto; }

.top-menu-box { width:100%; }
.top-menu { width:1004px; height:42px; margin:0 auto; background:url('../images/top-menu-bg.png') left top no-repeat; }
.top-menu:after { content:""; clear:both; display:block; }
.top-menu ul { float:left; width:570px; margin-left:30px; }
.top-menu ul:after { content:""; clear:both; display:block; }
.top-menu ul li { float:left; margin-right:24px; padding-top:11px; }
.top-menu ul li a { display:block; height:18px; background:url('../images/top-menu-sprite.png') no-repeat; }
.top-menu ul li a.menu-home { width:63px; background-position:0px 0px; }
.top-menu ul li a.menu-forum { width:54px; background-position:-87px 0px; }
.top-menu ul li a.menu-download { width:63px; background-position:-164px 0px; }
.top-menu ul li a.menu-media { width:53px; background-position:-250px 0px; }
.top-menu ul li a.menu-support { width:115px; background-position:-328px 0px; }
.top-menu ul li a.menu-contacts { width:77px; background-position:-467px 0px; }

.pvp-stats-box { width:255px; height:60px; background:url('../images/top-pvp.png') left top no-repeat; }

.search-box { float:right; width:400px; }
.search-box:after { content:""; clear:both; display:block; }
.search-bg { float:right; width:210px; height:25px; background:url('../images/search-bg.png') no-repeat; margin-top:6px; margin-right:4px; }
.search-bg input { width:200px; margin-left:4px; margin-top:3px; background:transparent; border:0px none; font:11pt 'Times New Roman'; color:#ecccc2; }
.search-box a { float:right; display:block; width:87px; height:33px; background:url('../images/button-search.png') no-repeat; margin-right:44px; margin-top:2px; }

.header-box { width:100%; padding-top:159px; position:relative; }
.header { width:578px; height:162px; margin:0 auto; background:url('../images/center-t.png') center top no-repeat; }
.mmotop a { position:absolute; top:5px; right:970px; border: outset 1px rgb(255,0,0);}
.mmotop a:hover { position:absolute; top:5px; right:970px; border: inset 1px rgb(255,0,0);}

.container { }
.container:after { content:""; clear:both; display:block; }

.left-blocks { float:left; width:294px; }

.left-block-t { width:294px; height:17px; background:url('../images/right-block-t.png') right top no-repeat; }
.left-block-b { width:294px; height:15px; background:url('../images/right-block-b.png') right top no-repeat; }
.left-block-inner-bg { width:294px; background:url('../images/right-block-inner-bg.png') right top repeat-y; }
.left-block-inner-t { width:294px; background:url('../images/right-block-inner-t.png') right top no-repeat; }
.left-block-inner-b { width:294px; background:url('../images/right-block-inner-b.png') right bottom no-repeat; }

.login-box { width:294px; margin-bottom:6px; }
.login-t { width:294px; height:74px; background:url('../images/login-t.png') right top no-repeat; }
.login-inner-t { width:294px; background:url('../images/login-inner-t.png') right top no-repeat; }
.login-box form { width:190px; padding:10px 0px; margin-left:91px; }
.login-box .buttons { width:100%; text-align:center; }
.login-box .buttons:after { content:""; clear:both; display:block; }

.login-box .checkbox { float:left; cursor:pointer; width:24px; height:24px; background:url('../images/check-off.png') no-repeat; 
	padding-left:28px; line-height:24px; margin-top:4px; }
.login-box .buttons label { float:left; }
.login-box .buttons input { position:absolute; left:-9999px; }
.login-box .checked { background:url('../images/check-on.png') no-repeat; }

.login-box .buttons a.button-login { float:right; display:block; width:87px; height:33px; background:url('../images/button-login.png') no-repeat; }
.login-box .links { text-align:center; margin-top:5px; }
.login-box .line:after { content:""; clear:both; display:block; }
.login-box .line label { float:left; line-height:30px; }
.login-box .line .login-input { float:right; width:138px; height:30px; background:url('../images/login-input.png') center center no-repeat; }
.login-box .line .login-input input { width:120px; margin-left:8px; margin-top:5px; background:transparent; border:0px none; font:11pt 'Times New Roman'; color:#ecccc2; }
#input { width:138px; height:30px; background:url('../images/login-input.png') center center no-repeat; border:0px none; text-indent:10px;font:11pt 'Times New Roman'; color:#ecccc2; }
.login-box ul { width:190px; margin-left:91px; padding:10px; }

.menu-box { width:294px; }
.menu-box ul { width:221px; margin-left:73px; }
.menu-box ul li { width:100%; }
.menu-box ul li.sep { height:1px; background:#222222; }
*:first-child+html .menu-box ul li.sep { display:inline; font-size:0px; line-height:0px; margin:0px; border:0px none; padding:0px; zoom:1; }
.menu-box ul li a { display:block; width:221px; height:35px; background:url('../images/menu-sprite.jpg') no-repeat; }
.menu-box ul li a.menu-news { background-position:0px 0px; }
.menu-box ul li a.menu-about { background-position:0px -36px; }
.menu-box ul li a.menu-admins { background-position:0px -72px; }
.menu-box ul li a.menu-rules { background-position:0px -108px; }
.menu-box ul li a.menu-events { background-position:0px -144px; }
.menu-box ul li a.menu-stats { background-position:0px -180px; }
.menu-box ul li a.menu-files { background-position:0px -216px; }
.menu-box ul li a.menu-forum { background-position:0px -252px; }
.menu-box ul li a.menu-board { background-position:0px -288px; }
.menu-box ul li a.menu-vk { background-position:0px -324px; }

.forum-box { width:294px; margin-bottom:6px; }
.forum-box:after { content:""; clear:both; display:block; }
.forum-box a { float:right; display:block; width:248px; height:140px; background:url('../images/button-forum.png') right top no-repeat; }

.support-box { width:294px; margin-bottom:6px; }
.support-box a { display:block; width:294px; height:151px; background:url('../images/button-support.png') right top no-repeat; }

.stat-box { width:294px; margin-top:-17px; }
.stat-box .left-block-inner-b:after { content:""; clear:both; display:block; }
.stat { float:right; width:230px; background:url('../images/banners-bg.jpg') right top no-repeat; padding-top:50px; padding-bottom:10px; text-align:center; }

.center { float:left; width:578px; margin-left:-19px; margin-right:-19px; position:relative; }
.center-inner-bg { width:578px; background:url('../images/center-inner-bg.png') center top repeat-y; }
.center-inner-t { width:578px; background:url('../images/center-inner-t.png') center top no-repeat; }
.center-inner-b { width:578px; background:url('../images/center-inner-b.png') center bottom no-repeat; }
.center-b { width:578px; height:37px; background:url('../images/center-b.png') center top no-repeat; }

.content { width:491px; margin:0 auto; min-height:1300px; }
.content-header { width:479px; margin:0 auto; height:36px; background:url('../images/content-header.jpg') no-repeat; }
.page-title { width:479px; height:36px; background:url('../images/news-header.png') 10px center no-repeat; }

.promo-box { width:100%; height:202px; background:url('../images/promo-bg.png') no-repeat; margin-bottom:10px; padding-top:13px; }
#slider { width:465px; height:176px; overflow:hidden; margin:0 auto; position:relative; }
#slider .viewport { float:left; width:465px; height:176px; overflow:hidden; position:relative; }
#slider .buttons { position:absolute; right:0px; top:47%; z-index:3; background:url('../images/right.png') no-repeat; display:block; width:35px; height:25px; }
#slider .next { left:0px; background:url('../images/left.png') no-repeat; }
#slider .disable { display:none; }
#slider .overview { list-style:none; padding:0; margin:0;  position:absolute; left:0; top:0; }
#slider .overview li { float:left; height:176px; width:465px; }

.news { width:491px; padding-top:13px; background:url('../images/news-line.png') center bottom repeat-x; padding-bottom:16px; }
.news-header { height:35px; background:url('../images/news-icon.png') no-repeat; margin-bottom:10px; }
.news-header:after { content:""; clear:both; display:block; }
.news-date { float:left; margin-left:40px; margin-top:19px; margin-right:3px; }
.news-date span { font:14pt 'Times New Roman'; color:#9c412a; }
.news-title { float:left; margin-top:13px; font:14pt 'Times New Roman'; color:#9c412a; }
.news-title a { font:14pt 'Times New Roman'; color:#9c412a; }
.news-body {}
.news-body:after { content:""; clear:both; display:block; }
.news-text { float:left; width:470px; padding-left:15px; padding-right:15px; text-align:justify}
.news-img { float:left; width:166px; text-align:right; }
.news-links { margin-top:13px; padding:0px 10px; }
.news-links:after { content:""; clear:both; display:block; }
.news-info { float:left; font-style:italic; color:#8e4733; }
.news-info a { color:#bf1200; }
.news-more { float:right; }
.news-more a { color:#8e4733; }

.static { width:491px; padding-top:13px; background:url('../images/news-line.png') center bottom repeat-x; padding-bottom:16px; }
.static-header { height:35px; background:url('../images/news-icon.png') no-repeat; margin-bottom:10px; }
.static-header:after { content:""; clear:both; display:block; }
.static-date { float:left; margin-left:40px; margin-top:19px; margin-right:3px; }
.static-date span { font:14pt 'Times New Roman'; color:#9c412a; }
.static-title { float:left; margin-top:13px; font:14pt 'Times New Roman'; color:#9c412a; }
.static-title a { font:16pt 'Times New Roman'; color:#9c412a; }
.static-body {}
.static-body:after { content:""; clear:both; display:block; }
.static-text { width:456px; margin:0 auto; }
.static-text ol { width:100%; list-style: decimal; padding:10px; }
.static-text ul { width:100%; list-style: outside; padding:10px;}
.static-img { float:right; padding-left:10px; text-align:right; }
.static-links { margin-top:13px; padding:0px 10px; }
.static-links:after { content:""; clear:both; display:block; }
.static-info { font-style:italic; color:#8e4733; }
.static-info a { color:#bf1200; }
.static-more { float:right; }
.static-more a { color:#8e4733; }

.donate-tbl img {padding:5px;}
.donate-tbl td {vertical-align: middle;}

.right-blocks { float:left; width:257px; margin-top:-5px; }

.server-status-box { width:255px; margin-bottom:6px; }
.server-status-t { width:255px; height:72px; background:url('../images/server-status-t.png') left top no-repeat; }
.server-status-b { width:255px; height:20px; background:url('../images/server-status-b.png') left top no-repeat; }
.server-status-inner-bg { width:255px; background:url('../images/server-status-inner-bg.png') left top repeat-y; }
.server-status-inner-t { width:255px; background:url('../images/server-status-inner-t.png') left top no-repeat; }
.server-status-inner-b { width:255px; background:url('../images/server-status-inner-b.png') left bottom no-repeat; padding-bottom:5px; }
.server-status-header { width:255px; height:42px; background:url('../images/server-status-header.png') left top no-repeat; }
.server-online { width:18px; height:18px; background:url('../images/server-online.png') no-repeat; margin:0 auto; }
.server-offline { width:22px; height:9px; background:url('../images/server-offline.png') no-repeat; margin:0 auto; }
.server-status-box table { color:#502e24; }
.server-status-box td { vertical-align:middle; width:37px; height:21px; text-align:center; }
.server-status-box td.name { width:65px; }
.server-status-box td.online { width:70px; }

.server-status-box { width:255px; margin-bottom:6px; }
.server-status-box1 { width:255px;}
.server-status-t { width:255px; height:72px; background:url('../images/server-status-t.png') left top no-repeat; }
.server-status-b { width:255px; height:20px; background:url('../images/server-status-b.png') left top no-repeat; }
.server-status-inner-bg { width:255px; background:url('../images/server-status-inner-bg.png') left top repeat-y; }
.server-status-inner-t { width:255px; background:url('../images/server-status-inner-t.png') left top no-repeat; }
.server-status-inner-b { width:255px; background:url('../images/server-status-inner-b.png') left bottom no-repeat; padding-bottom:5px; }
.server-status-inner-b1 { width:255px; padding-left: 10px; padding-top:10px; background:url('../images/server-status-inner-b.png') left bottom no-repeat; padding-bottom:5px; }
.server-status-inner-b1 li { padding-top: 2px; }

.forum-box { width:294px; margin-bottom:6px; }
.forum-box:after { content:""; clear:both; display:block; }
.forum-box a { float:right; display:block; width:248px; height:140px; background:url('../images/button-forum.png') right top no-repeat; }

.banners-box { width:294px; margin-top:-2px; }
.banners-box .left-block-inner-b:after { content:""; clear:both; display:block; }
.banners { float:right; width:230px; background:url('../images/forum-bg.jpg') right top no-repeat; padding-top:50px; padding-bottom:10px; text-align:left; }
.banners a {text-decoration:none;}
.banners li {margin-left:35px;margin-bottom:3px;list-style-image: url('../images/004.png');}


.register-box { width:256px; margin-bottom:6px; }
.register-box a { display:block; width:256px; height:131px; background:url('../images/button-register.png') left top no-repeat; }

.download-box { width:257px; margin-bottom:6px; }
.download-box a { display:block; width:257px; height:131px; background:url('../images/button-download.png') left top no-repeat; }

.donate-box { width:256px; margin-bottom:6px; }
.donate-box a { display:block; width:256px; height:133px; background:url('../images/button-donate.png') left top no-repeat; }

.footer-box { width:100%; height:50px; }
.footer { width:520px; margin:0 auto; }
.footer:after { content:""; clear:both; display:block; }
.copyright { float:left; display:block; width:197px; height:24px; background:url('../images/copyright.png') left center no-repeat; }
.author { float:right; display:block; width:185px; height:27px; background:url('../images/author.png') right center no-repeat; }
.pagination { height:25px; line-height:25px; text-align:center; color:#8e4733; padding-top:10px; }
.pagination a { color:#8e4733; background:#f2d7c3; border:1px solid #d5b9a4; padding:3px 5px; text-decoration:none; }
.pagination a:hover { color:#f2d7c3; background:#8e4733; border:1px solid #d5b9a4; }
.pagination strong span { padding:3px 5px; }
.pagination .previous { padding:3px 5px; }


#amoung a img
{
opacity:0.3; -moz-opacity:0.3; filter:alpha(opacity=40);
}

#amoung a:hover img
{
opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);
}

#banners2 a img { opacity:0.0; /* CSS3 — Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */ -moz-opacity:0.3; /* Mozilla 1.6 */ filter:alpha(opacity=40); /* IE 5.5+*/ } 
#banners2 a:hover img { opacity:0.1; -moz-opacity:1.0; filter:alpha(opacity=100); }
